page-ingresar-solicitud {
    .div-form {
        padding-top: 10%;
    }
    ion-img {
        display: inline-block;
        min-width: 20px;
        min-height: 20px;
        background: #eee;
        contain: layout;
    }
}