page-ingresar-solicitud {
    .ion-content {
        background-color: green;
    }
    .div-form {
        padding-top: 10%;
    }
    .scroll-content {
        background-color: #F5F5F5;
    }
    ion-img {
        display: inline-block;
        min-width: 20px;
        min-height: 20px;
        background: #eee;
        contain: layout;
    }
}