<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
         <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
-->
<ion-header>

    <ion-navbar color="primary">
        <ion-buttons left>
            <button ion-button icon-only (click)="irHome()">
                <ion-icon ios="ios-home" md="md-home"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title text-center>Tribunal Supremo Electoral</ion-title>

    </ion-navbar>

</ion-header>

<ion-content padding scroll="false">
    <div style="text-align:center;">
        <ion-img src="assets/imgs/baner1.png"></ion-img>
    </div>
    <div class="div-form">
        <h3 text-center>Consultar Lugar de votación</h3>
        <ion-list>
            <ion-row>
                <ion-label text-center color="primary">Ingrese su número de DPI:</ion-label>
            </ion-row>
            <ion-row>
                <ion-item>
                    <ion-input text-center name="cui" type="number" [(ngModel)]="solicitud.cui" #cui="ngModel" required maxlength="13" minlength="13" pattern="[0-9]+" digits number></ion-input>
                </ion-item>
                <!--
                <p ion-text color="danger" *ngIf="cui.errors">ERRORES: {{ cui.errors | json}}</p>
                https://github.com/yuyang041060120/ng2-validation
                -->
                <div class="form-error" *ngIf="cui.errors  && (cui.dirty || cui.touched)">
                    <p text-center [hidden]="!cui.errors.required">Campo requerido, solo números.</p>
                    <p text-center [hidden]="!cui.errors.number">Requiere solo números</p>
                    <p text-center [hidden]="!cui.errors.minlength">Su número de DPI debe de tener 13 digitos</p>
                    <p text-center [hidden]="!cui.errors.maxlength">El número ingresado excede la cantidad de digitos</p>
                    <p text-center [hidden]="!cui.errors.pattern">Solo se aceptan dígitos del 0 al 9</p>
                    <p text-center [hidden]="!cui.errors.digits">Solo se aceptan dígitos del 0 al 9</p>
                </div>
            </ion-row>
            <ion-row text-center>
                <ion-label text-center>Ingrese su fecha de nacimiento:</ion-label>
            </ion-row>
            <ion-row>
                <ion-item text-center>
                    <ion-datetime text-center name="fechaNacimiento" min="1916" displayFormat="DD/MMM/YYYY" montNames='enero, febrero, marzo, abril, mayo, junio, julio, agosto, septiembre, octubre, noviembre, diciembre' monthShortNames='enero, febrero, marzo, abril, mayo, junio, julio, agosto, septiembre, octubre, noviembre, diciembre'
                        #fechaNacimiento="ngModel" cancelText="Cancelar" doneText="Aceptar" placeholder="dia/mes/año" [(ngModel)]="solicitud.fechaNacimiento" required>
                    </ion-datetime>
                </ion-item>
                <div class="form-error" *ngIf="fechaNacimiento.errors  && (fechaNacimiento.dirty || fechaNacimiento.touched)">
                    <p text-center [hidden]="!fechaNacimiento.errors.required">Campo requerido.</p>
                </div>
            </ion-row>
        </ion-list>
        <ion-row>
            <ion-col text-right>
                <button ion-button color="primary" (click)="onSubmit()" block [disabled]="solicitud.cui==''|| cui.errors || solicitud.fechaNacimiento=='' "> Consultar </button>
            </ion-col>
            <ion-col text-left>
                <button ion-button color="primary" (click)="irHome()" block> volver al inicio </button>

            </ion-col>
        </ion-row>

    </div>
    <br><br>
    <br>
    <div style="text-align:center;">
        <ion-img src="assets/imgs/banner-footer.png"></ion-img>
    </div>
</ion-content>