// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.scroll-content {
    background-color: white;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    /*
    background-image: url('../../assets/imgs/fondo1.png') !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    */
}

h3 {
    color: #555c69!important;
}

p {
    color: #808794 !important;
    text-align: justify;
    font-size: 15px!important;
}

.toolbar-background {
    background-color: #5774a7 !important;
    //background-color: #0076CC !important;
}

ion-label {
    color: #808794 !important;
    font-family: inherit !important;
    font-size: 15px !important;
}

.button {
    // background-color: #0076CC;
    background-color: #5774a7;
}

.button-inner {
    // background-color: #0076CC;
    //color: #555c69!important;
}

.alert-message {
    color: #afb2b9!important;
    text-align: center;
    font-size: 17px !important;
}

.alert-md .alert-button .button-inner {
    color: #555c69!important;
}

.alert .alert-button {
    color: #5774a7;
}

.fab ion-icon {
    color: #ffff;
}

.fab {
    background-color: #5774a7 !important;
}

.label-error {
    color: #0076cc !important;
    margin-left: 16px;
}

.footer-image {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 60px;
    width: 100%;
    background: #5774a6;
}

.button-image-personalizado {
    border-radius: 20px;
    border: 2px solid #5774a6;
}

.button-image-personalizado:hover {
    color: #1883ba;
    background-color: #ffffff;
}

ion-img {
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
    background: #eee;
    contain: layout;
}

.item-datetime ion-datetime {
    text-align: right;
}

.item h2 {
    margin: 2px 0;
    font-size: 1.6rem;
    font-weight: normal;
    text-align: center;
    color: #5774a7;
    font-weight: bold;
}

body {
    font-family: inherit !important;
}