page-mostrar-capcha {
    .div-form {
        padding-top: 5%;
    }
    /* Solve problem on a non-solid background */
    .img-captcha {
        border: 2px solid black !important;
        width: 50%;
    }
    .input-captcha {
        text-align: center !important;
        font-size: 20px
    }
}

img.hover {
    outline: 3px solid black !important;
}